.flex-container{
  display: flex;
  flex-direction: row;
  padding: 10px;
}


.grid-container-images{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 25px;
    margin-left: 50px;
}

@media (max-width: 800px) {
  .flex-container {
      flex-direction: column;
  }
}